* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: #dfe1e6 white;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #dfe1e6;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid #dfe1e6;
  }
}

body {
  background: #081b33;
  color: white;
  overflow-wrap: anywhere;
}
.wrapper {
  height: 100vh;
  overflow-wrap: anywhere;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0px 185px 0px 185px;
  grid-template-columns: 3fr 0.2fr 3fr 0.5fr 2.5fr 0.2fr;
  grid-template-rows: 1fr 1.5fr 4fr;
  grid-template-areas:
    'title-text title-text title-text title-text title-text title-text'
    'input1 space1 input2 space2 btn space3'
    'content content content content content content';
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

  &.color {
    background: black;
  }
}
// .form-one {
//   display: flex;
//   position: relative;
//   align-items: flex-end;
// }
// .form-two {
//   position: relative;
//   display: flex;
//   align-items: flex-end;
//   justify-content: flex-end;
// }
.input1 {
  grid-area: input1;
}
.input2 {
  grid-area: input2;
}
.btn {
  grid-area: btn;
  align-self: center;
  margin-top: 24px;
}
.space1 {
  grid-area: space1;
}
.space2 {
  grid-area: space2;
}
.space3 {
  grid-area: space3;
}
.content {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  grid-area: content;
  justify-content: center;
  align-self: flex-start;
  padding: 20px;
  border-radius: 4px;
  background: rgb(250, 249, 249);
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-text {
  text-align: center;
  grid-area: title-text;
  margin-bottom: 24px;
  margin-top: 24px;
}
.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #081b33;
}
.error-container {
  display: flex;
  justify-content: center;
}
.error-message {
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  line-height: 19px;
  color: #cd310a;
  background: #ffebe6;
  padding-left: 20px;
  border-radius: 4px;
  padding: 12px 24px;
}
.user-select-none svg-container {
  width: fit-content !important;
  border-radius: 4px;
  height: 400px !important;
}
@media screen and (max-width: 906px) {
  .wrapper {
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 4fr;
    grid-template-areas:
      'title-text title-text title-text'
      'input1 space1 input2'
      'btn btn btn'
      'content content content';
  }
  // .input1 {
  //   width: 60%;
  // }
  // .input2 {
  //   width: 60%;
  // }
  .btn {
    width: 100% !important;
  }
  // .form-one {
  //   width: 100%;
  // }
  // .form-two {
  //   width: 100%;
  // }
}
@media screen and (max-width: 600px) {
  .wrapper {
    height: auto;
    padding: 0px 50px 0px 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr 2fr;
    grid-template-areas:
      'title-text'
      'input1'
      'space1'
      'input2'
      'space2'
      'btn'
      'space3'
      'content';
  }
  .input1 {
    width: 100%;
  }
  .input2 {
    width: 100%;
  }
  .btn {
    width: 100% !important;
    margin-top: 10px;
  }
  .content {
    padding: 24px;
    margin-bottom: 50px;
    margin-top: 16px;
  }
}
